#wrapper {
    width: 400px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

#tabs {
    border: 2px solid rgb(9, 182, 38);
    border-radius: 10px;
    padding: 15px;
}

#tabs-head {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.tab {
    padding: 10px;
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.activetab {
    background-color: rgb(9, 182, 38);
    color: white;
}

.activeaccordtab {
    background-color: rgb(24, 99, 212);
    color: white;
}

.tab-content {
    display: none;
}

.activetabcontent {
    display: block;
}

#accordion {
    width: auto;
    margin-top: 30px;
}

.acc-tab {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion-text-hidden, .accordion-active {
    overflow: hidden;
    width: 80%;
    font-size: 12px;
    padding: 0px 10px;
    transition: all 1s;
}

.accordion-text-hidden {
    height: 0px;
}